<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-lg text-center w-80">
    <div class="text-5xl font-semibold mb-4">{{ currentProblem.text }}</div>
    <form class="flex flex-col items-center">
      <input type="number" [(ngModel)]="userAnswer" [ngModelOptions]="{standalone: true}" placeholder="Your answer" class="mt-2 p-2 w-full border rounded-md">
      <button (click)="checkAnswer()" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Submit</button>
    </form>
  </div>
</div>
<div class="overlay" *ngIf="showOverlay" @fadeInOut>
  <div class="checkmark">✔</div>
</div>
<router-outlet />
